<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://sm.ign.com/ign_br/screenshot/default/aot_qs3p.jpg"
        alt=""
        heigth="200px"
        width="300px"
        srcset=""
        >
  </div>
  <div class="big-card__title">
<h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam turpis est, pellentesque ac nisl a, vehicula posuere ligula. Cras gravida erat leo, eget dignissim diam lobortis et. Sed feugiat interdum eros, in auctor nulla interdum sed. Nam eget blandit metus. Phasellus nec orci felis. Suspendisse potenti. Phasellus condimentum scelerisque venenatis. Proin nec leo sit amet justo mattis lacinia. In accumsan sapien felis, vel congue enim eleifend sed.
    </p>
  </div>
</div>
